<section id="contact" class="relative h-auto  bg-cover bg-center md:bg-top lg:bg-left overflow-hidden" style="background-image: url('../../../assets/IMG20240329083831.jpg')">
    <!-- Contact box -->
    <h1 class="text-5xl font-bold bg-transparent border-white px-6 py-3 relative top-5 landscape:top:2 landscape:p-9 md:top-10 left-8  text-[#fff]">Contact:</h1>

    <div class="flex flex-col justify-center items-center  h-[70vh] lg:h-screen py-10">
        <div class="flex flex-col justify-evenly items-center bg-white rounded-sm h-[120px] w-[320px] md:w-[500px] md:h-[220px] mb-10 opacity-80 tracking-wide
        ">
            <div class="text-black text-md md:text-[28px] font-bold text-center ">
                <p class="p-3">Clinic Hours:</p>
                <p>Mon-Fri: 9AM-7 PM</p>
            </div>
        </div>
   
        <div class="flex flex-col justify-evenly items-center bg-white rounded-sm h-[120px] w-[320px] md:w-[380px] md:h-[160px] mb-10 opacity-80 ">
            <div class="text-black text-md md:text-xl font-bold text-center text-xxl tracking-wide
            ">
                <p class="p-3">Number: 8447944307</p>
                <p>Email: megh9m&#64;gmail.com</p>
            </div>
        </div>
    </div>

   
    <!-- Links -->
    <div class="absolute bottom-6 right-6 md:p-10 flex">
        <a href="https://www.instagram.com/andeverythinginbetweentherapy/" target="_blank">
            <img src="assets/instagram.svg" alt="Instagram">
        </a>
        <a href="https://www.linkedin.com/in/meghaaa?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
            <img src="assets/linkedin.svg" alt="LinkedIn">
        </a>
    </div>

</section>
