<p>contact works!</p>
<!-- Contact box -->
<div class=" w-screen h-20 flex justify-center">
    <div class="flex flex-col justify-evenly items-center bg-white rounded-sm h-[120px] w-[320px]">
        <div class="text-xxl">
            Contact:
        </div>
        <div>
            <p>Number: 8447944307
            </p>

            <p> Email: megh9m&#64;gmail.com</p>
        </div>
    </div>
</div>
<!-- Links -->
<div>
    <img src="assets/instagram.svg" alt="Instagram">
    <img src="assets/linkedin.svg" alt="LinkedIn">
</div>