<section id="about" class="relative flex flex-col lg:flex-row h-auto bg-cover bg-center lg:bg-top lg:bg-left "
    style="background-image: url('../../../assets/IMG20240329083831.jpg')">
    <div class="relative w-full lg:w-1/4 flex">
        <h1 class="text-5xl font-bold bg-transparent border-white px-6 py-3 absolute top-6 left-6 text-[#fff]">About:
        </h1>
        <img src="../../../assets/1713530048641.jpg" alt="Image"
            class="  top-32 left-6 object-fit   lg:absolute w-[80%] hidden lg:grid">
    </div>

    <div class="flex flex-col justify-center items-center lg:w-3/4 mt-24">
        <div
            class="flex flex-col justify-evenly items-center bg-white rounded-sm max-w-[90%] lg:max-w-[60%]  mb-10 opacity-80 p-4 font-bold">
            <div class="text-[#000] text-center text-sm  lg:text-xl">
                <h1 class="p-3 text-start">
                    <p class=" lg:py-2">
                        Hi! I am Megha.
                    </p>
                    <p class=" lg:py-2">
                        On some days I like films, art, learning more about investment, and skincare; and on other days
                        I
                        believe in the power of all-day naps.
                    </p>
                    <p class=" lg:py-2">
                        I am a counselling psychologist who works from a psychodynamic and relational lens. I see people
                        over 16 who are actively seeking therapy.
                    </p>
                    <p class=" lg:py-2">
                        I am an upper middle class, upper caste, Hindu woman. I am Hindu by birth and irreligious due to
                        my choice (and privilege). I am cis able-bodied queer person. I believe that these labels hold a
                        lot of weight in the current socio-political scenario; thus, I want to work alongside these
                        labels and not be in complete denial of how they impact our mental health system. I am here to
                        explore, make sense of, and understand these labels and on the way, perhaps, annihilate some of
                        them (in my own teeny tiny way).

                    </p>
                    <p class=" lg:py-2">
                        For me, therapy is a place for clients to explore their ‘patienthood’. This could mean different
                        things to different people, but for me, exploring my patienthood has meant acknowledging my
                        pain,
                        and finding pockets of dreaming and hope, love, and community in everyday life.
                    </p>
                    <p class=" lg:py-2">
                        My work has made me realize that it’s not just therapy in isolation that will help, but support
                        from
                        family, doctors, and our community at large that would. I think about how many parts of our
                        patienthood we are holding and containing through therapy alone- and I wonder what therapy would
                        be
                        like in a world that is not so unkind.
                    </p>
                </h1>
            </div>
        </div>
    </div>
</section>