<section id="about" class="relative flex flex-col md:flex-row h-screen bg-cover bg-center md:bg-top lg:bg-left min-h-[880px]"
    style="background-image: url('../../../assets/IMG20240329083831.jpg')">
    <!-- Contact box -->
    <div class="relative w-full md:w-1/4 ">
        <h1 class="text-5xl font-bold bg-transparent border-white px-6 py-3 absolute top-6 left-6 text-[#fff]">About:
        </h1>
        <img src="../../../assets/1713530048641.jpg" alt="Image" class="absolute top-32 left-6 object-fit w-[240px] md:static md:w-full hidden lg:grid">
    </div>

    <div class="flex flex-col justify-center items-center md:w-3/4 mt-24">
        <div
            class="flex flex-col justify-evenly items-center bg-white rounded-sm max-w-[90%] md:max-w-[60%]  mb-10 opacity-80 p-4 font-bold">
            <div class="text-[#000] text-center text-sm  md:text-xl">
                <h1 class="p-3 text-start">
                    <p class=" lg:py-2">
                        Hi! I am Megha.
                    </p> <p class=" lg:py-2">
                        On some days I like films, art, learning more about investment, and skincare; and on other days
                        I
                        believe in the power of all-day naps.
                    </p><p class=" lg:py-2">
                        I am a counselling psychologist who works from a psychodynamic and relational lens. I see people
                        over 16 who are actively seeking therapy.
                    </p><p class=" lg:py-2">
                        I am an upper middle class, upper caste, able-bodied cis queer Hindu woman. I believe that these
                        labels hold a lot of weight in the current socio-political scenario; thus, I want to work
                        alongside
                        these labels and not be in complete denial of how they impact our mental health system. I am
                        here to
                        explore, make sense of, and understand these labels and on the way, perhaps, annihilate some of
                        them
                        (in my own teeny tiny way).
                    </p><p class=" lg:py-2">
                        For me, therapy is a place for clients to explore their ‘patienthood’. This could mean different
                        things to different people, but for me, exploring my patienthood has meant acknowledging my
                        pain,
                        and finding pockets of dreaming and hope, love, and community in everyday life.
                    </p><p class=" lg:py-2">
                        My work has made me realize that it’s not just therapy in isolation that will help, but support
                        from
                        family, doctors, and our community at large that would. I think about how many parts of our
                        patienthood we are holding and containing through therapy alone- and I wonder what therapy would
                        be
                        like in a world that is not so unkind.
                    </p>
                </h1>
            </div>
        </div>
    </div>
</section>
