<section #heroSection class="relative h-screen bg-cover bg-center md:bg-top lg:bg-left" style="background-image: url('../../../assets/hero-section.jpg')">
    <div class="absolute inset-0 flex flex-col justify-start items-center text-white">
        <img src="../../../assets/logo.jpg" alt="Welcome Image" class="mb-8  object-scale-down max-w-[250px]">

        <div class="flex flex-col landscape:flex-col md:flex-row gap-4">
           
          <button class="text-3xl font-bold bg-transparent underline border-white  px-6 py-2" (click)="scrollToAbout()">About</button>
          <button class="text-3xl font-bold bg-transparent underline border-white  px-6 py-2" (click)="scrollToTherapy()">Therapy</button>
          <button class="text-3xl font-bold bg-transparent underline border-white  px-6 py-2" (click)="scrollToContact()">Contact</button>
        </div>
      </div>
  </section>
  