<section #heroSection class="relative h-[870px] landscape:min-h-[555px] bg-cover bg-center md:bg-top lg:bg-left" style="background-image: url('../../../assets/hero-section.jpg')">
    <div class="absolute inset-0 flex flex-col justify-start items-center text-white">
        <img src="../../../assets/logo.jpg" alt="Welcome Image" class="mb-8  p-3 object-scale-down max-w-[370px]  sm:max-w-[640px] ">

        <div class="flex flex-col landscape:flex-row md:flex-row gap-5 lg:gap-20">
           
          <button class="text-[24px] inline sm:text-5xl font-bold bg-transparent underline  border-white  px-6 [2px] "(click)="scrollToAbout()">About</button>
          <button class="text-[24px] inline sm:text-5xl font-bold bg-transparent underline  border-white  px-6 [2px]" (click)="scrollToTherapy()"> Background</button>
          <button class="text-[24px] inline sm:text-5xl font-bold bg-transparent underline  border-white  px-6 [2px]" (click)="scrollToContact()"> Contact</button>
        </div>

        <img src="../../../assets/Img2.png" alt="Welcome Image" class="mb-8  p-3 object-scale-down max-w-[360px]  sm:max-w-[420px] "
             class="  top-80 left-12 object-fit   lg:absolute w-[400px] lg:grid">

      </div>
  </section>
  