<section id="contact" class="relative h-auto  bg-cover bg-center md:bg-top lg:bg-left overflow-hidden"
    style="background-image: url('../../../assets/IMG20240329083831.jpg')">
    <h1
        class="  text-4xl md:text-[60px] font-semibold bg-transparent border-white px-6 py-2 relative top-5 landscape:top:2 landscape:p-9 md:top-10 left-6 drop-shadow-4xl text-[#fff]">
        QUALIFICATIONS AND PROJECTS:</h1>

    <div class="flex flex-col justify-center items-center lg:w-3/4, mt-24">
        <div class="flex flex-col justify-evenly items-center bg-white rounded-sm  h-auto w-[280px] md:w-[500px] md:h-auto mb-10 opacity-70 tracking-wide">
            <div class="text-black md text-[24px], text-[14px], font-semibold text text-md lg:text-xl">
                <div class="container mx-auto px-4 py-4">
                    <ul class="list-disc pl-5">
                        <li class="mb-2">
                            B.A. Psychology, Women Studies, and Journalism, Indian Institute of Psychology and Research
                        </li>
                        <li class="mb-2">
                            M.A. Counselling Psychology, Amity University.
                        </li>
                        <li class="mb-2">
                            Apprentice UNREAD, Hank Nunn Institute.
                        </li>
                        <li class="mb-2">
                            Not a Cool Girl, International Journal of Indian Psychology.
                        </li>
                        <li class="mb-2">
                            Sex Question Mark: In Plainspeak, Tarshi.
                        </li>
                        <li class="mb-2">
                            ‘On Looking Away’: Reflective Circle
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>