<div class="w-full overflow-hidden">
    <div class="relative w-full mx-auto h-screen" [style.paddingTop.%]="(9 / 16) * 100"> <!-- Aspect ratio 16:9 -->
      <img src="../../../assets/VID_20210919_235435.gif" alt="GIF" class="absolute inset-0 w-full h-full object-cover">
      <div class="absolute inset-0 flex items-center justify-center">
        <div class="bg-white bg-opacity-45 w-full md:w-9/12 h-auto rounded-sm flex items-center justify-center">
          <div class="text-black text-md md:text-xl font-bold text-center p-4 ">
            <p>
              “I will be dying and so will you, and so will everyone here. That's what I want to explore. We're all hurtling towards death, yet here we are for the moment, alive. Each of us knowing we're going to die, each of us secretly believing we won't.”
            </p>
            <p class="mt-2">
              - Synecdoche, New York
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  